Flask==2.0.1
flask-limiter==3.3.0
slack_sdk==3.19.5
asana==5.0.5
python-dotenv==1.0.0
PyQt5==5.15.6
PyQtWebEngine==5.15.5
Flask-WTF==1.1.1
cryptography==41.0.1
APScheduler==3.9.1
Werkzeug==2.0.1
requests==2.31.0
pyOpenSSL==23.2.0
slack-bolt==1.18.0
playwright==1.39.0
selenium==4.14.0
webdriver-manager==4.0.1
psutil==5.9.6
